---
layout: page
title: "About Me"
description: "自我介绍."
header-img: "img/website/about-bg.jpg"
---

<!-- Language Selector -->
<!--
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>
-->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>世事洞明皆学问<br>
    人情练达即文章</p></blockquote>

    <h4>关于我</h4>
    <h5>教育背景</h5>
    <li>2009-2013 西北农林科技大学 本科 软件工程 </li>
    <li>2013-2015 西北农林科技大学 硕士 农业信息化 </li>
    <h5>工作经历</h5>
    <li>20015-至今 华勤通讯技术有限公司 </li>
    
    <p>我，一个程序员，是的，我会用各种语言写“hello world！”。 <br> 但是，目前正在研究的是--Android系统，
    谁让我毕业的时候找了这样一份工作呢，至少我能用java启动另一个线程不是吗。<br> 目标是能够成为一个资深的framework
    工程师，当然也要能写出重量级的app，至于native driver...还是等我把前一个目标实现吧。本blog就是为此而生。</p>
    
    <h5>其他爱好</h5>
    <p>本人爱好广泛，足球，从小就踢啦，但是我不喜欢看。篮球，嗯，也会。游戏也打啊，现在不怎么玩了，另外比较崇拜高晓松，由此对历史也
    产生了兴趣，高老师的知识面真是广，当然了喜欢崇拜他的另一个原因就是因为我也性高嘛。最近又开始一些徒步活动了。说了这么多爱好，其实
    都没什么用，因为我大部分时间还是宅。。。</p>
</div>

<!-- English Version -->
<!--
<div class="en post-container">
    <blockquote><p>Live more. <br>
    Learn more.</p></blockquote>

   <p>  contect .</p>
   </div>
-->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);


    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
